<div class="margin-task">
  <div class="page-content container-fluid">
    <div class="mb-3 mt-3">
      <p-card>
        <div class="d-flex align-items-center">
          <div>
              <h4>Invitations box2</h4>
            <span class="text-muted">Here is the list of invitations</span>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="container-fluid">
    <p-card>
      <div class="bg-light p-3 d-flex align-items-center do-block">
        <div class="">
          <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
            <h3>Invitations received</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><i class="pi pi-calendar"></i> Thu, May 23, 2019 9:32 AM</td>
              <td><strong>From: </strong><span><img src="../../../assets/santamarta.jpg" alt="user"
                    class="rounded-circle" width="30" height="30"></span><span> miguel.castillo@tars.dev</span></td>
              <td>Demostration project one</td>
              <td class="text-muted time"><i class="pi pi-clock"></i> 4 day from now</td>
              <td><button class="btn btn-info">Accept</button></td>
            </tr>
            <tr>
              <td><i class="pi pi-calendar"></i> Thu, May 23, 2019 9:32 AM</td>
              <td><strong>From: </strong><span><img src="../../../assets/santamarta.jpg" alt="user"
                    class="rounded-circle" width="30" height="30"></span><span> miguel.castillo@tars.dev</span></td>
              <td>Demostration project one</td>
              <td class="text-muted time"><i class="pi pi-clock"></i> 4 day from now</td>
              <td><button class="btn btn-info">Accept</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </p-card>
    <hr>
    <p-card>
      <div class="bg-light p-3 d-flex align-items-center do-block">
        <div class="">
          <div class="btn-group mr-2" role="group" aria-label="Button group with nested dropdown">
            <h3>Invitations sends</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><i class="pi pi-calendar"></i> Thu, May 23, 2019 9:32 AM</td>
              <td><strong>To: </strong><span><img src="../../../assets/santamarta.jpg" alt="user" class="rounded-circle"
                    width="30" height="30"></span><span> miguel.castillo@tars.dev</span></td>
              <td>Demostration project one</td>
              <td class="text-muted time"><i class="pi pi-clock"></i> 1 day from now</td>
              <td><button class="btn btn-danger">Revoke</button></td>
            </tr>
            <tr>
              <td><i class="pi pi-calendar"></i> Thu, May 23, 2019 9:32 AM</td>
              <td><strong>To: </strong><span><img src="../../../assets/santamarta.jpg" alt="user" class="rounded-circle"
                    width="30" height="30"></span><span> miguel.castillo@tars.dev</span></td>
              <td>Demostration project one</td>
              <td class="text-muted time"><i class="pi pi-clock"></i> 1 day from now</td>
              <td><button class="btn btn-danger">Revoke</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </p-card>
  </div>
</div>